{%extends "base.html"%}

{%block content%}

<div class="jumbotron" style="margin-top: 5%;">
    <h1 style="text-align: center;"> This is the Admin Dashboard </h1>
    <p>Welcome, {{ current_user.username }}!</p>
    <br>
    <h4>Quizzes</h4>
    <select id="categorySelected">
        <option value="all">All</option>
    {% for data in existingCategories %}
        <option value={{data}}> {{data}} </option>
    {% endfor %}
    </select>

    {%for quiz in quizzes:%}
    <ul style="list-style-type:none; text-align: left;" class={{quiz.category[0]}}>
        <li>Title : {{quiz.quizName}} </li>
        <li>Description: {{quiz.quizDescription}} </li>
        <li>Category: {{quiz.category[0]}} </li>
        <li><a href="{{ url_for('deleteQuiz', quizName=quiz) }}"> Delete </a></li>
    </ul>
    {%endfor%}

    <br><br>
    <p><a href="{{ url_for('createQuiz')}}"> Create Quiz</a></p>
    <a href="{{ url_for('profile')}}"> Profile </a>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul style="list-style-type:none;">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>

<style>
    .is-hidden {
        display: none;
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
    document.getElementById("categorySelected").onchange = function () {
        if (this.value == "all") {
            $(".jumbotron ul").removeClass("is-hidden");
        } else {
            $(".jumbotron ul:not(." + this.value + ")").addClass("is-hidden");
            $("." + this.value).removeClass("is-hidden");
        }
    }
</script>

{%endblock%}