{%extends "base.html"%}

{%block content%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript" src="{{ url_for('static', filename='quizCreation.js')}}"></script>
<br>



<form id="quiz-form" action="" method="post">
    {{ form.hidden_tag() }}

    <div class="quizCreationHeader">
        <div style="text-align: center;">
            <h3> Quiz Creation Page </h3>
            <p>Welcome, {{ current_user.username }}!</p>
        </div>
        <hr>
        <br>
        <p> {{ form.quizName.label }} {{ form.quizName(size=10) }}
            {% for error in form.quizName.errors %}
            <span style="font-size: small;color: red;">{{ error | string }}</span>
            {% endfor %}
        </p>
        <p> {{ form.quizDescription.label }} {{ form.quizDescription(size=10) }} </p>
        {%if form.selectedCategory %}
        <p> {{ form.selectedCategory.label}} {{ form.selectedCategory}} </p>
        {%else%}
        {%endif%}
        <p> {{ form.quizCategory.label }} {{ form.quizCategory(size=20)}} </p>
        <br>
        Fill in the blank example: <br>
        Question: The language used to structure a webpage is called *blank* and was created in *blank* <br>
        Answer: HTML, 1991 <br>
    </div>
    <div id="subforms-container">
        {% for subform in form.question %}
        <div id="quiz-{{ loop.index0 }}-form" class="subquestion subform" data-index="{{ loop.index0 }}">
            <p style="font-size: larger;"> Question {{ loop.index0 + 1}} </p>
            <hr>
            Question Type: {{ subform.quesType}}
            <br>
            <br>
            {{ subform.quizQuestion.label }}
            {{ subform.quizQuestion(size=30) }}
            <br>
            {% for error in subform.quizQuestion.errors %}

            <span style="font-size: small;color: yellow;">{{ error | string }}</span><br>
            {% endfor %}

            <div class="option-container is-hidden">
                <br>
                <label for="question-0-option1">Option: </label>
                <input id="question-0-option1" name="question-0-option1" type="text" value="">
                <br>
                <label for="question-0-option2">Option: </label>
                <input id="question-0-option2" name="question-0-option2" type="text" value="">
                <br>
                <label for="question-0-option3">Option: </label>
                <input id="question-0-option3" name="question-0-option3" type="text" value="">

            </div>
            <br>

            {{ subform.quizAnswer.label }}
            {{ subform.quizAnswer(size=20)}}
            <br>
            {% for error in subform.quizAnswer.errors %}
            <span style="font-size: small;color: yellow;">{{ error | string }}</span><br>
            {% endfor %}
    </div>
    {% endfor %}
    </div>
    <a id="add" href="#" class="addQues">Add Question</a>
    <div class="submitQuiz">
        {{ form.submit() }}
    </div>
</form>


<div id="quiz-_-form" class="subquestion is-hidden" data-index="_">
        <p id="quesNo" style="font-size: larger;"> Question </p>
        <hr>
        Question Type: <select id="question-_-quesType" name="question-_-quesType">
            <option value="shortAns">Short Answer</option>
            <option value="longAns">Long Answer</option>
            <option value="multi">Multi-Choice</option>
            <option value="fillIn">Fill-in-the-Blank</option>
        </select>
        <br><br>
        <label for="question-_-quizQuestion">Question: </label>
        <input id="question-_-quizQuestion" name="question-_-quizQuestion" size="30" type="text" value="">
        <br>
        <div class="option-container is-hidden">
            <br>
            <label for="question-_-option1">Option: </label>
            <input id="question-_-option1" name="question-_-option1" type="text" value="">
            <br>
            <label for="question-_-option2">Option: </label>
            <input id="question-_-option2" name="question-_-option2" type="text" value="">
            <br>
            <label for="question-_-option3">Option: </label>
            <input id="question-_-option3" name="question-_-option3" type="text" value="">

        </div>
        <br>
        <label for="question-_-quizAnswer">Answer: </label>
        <input id="question-_-quizAnswer" name="question-_-quizAnswer" type="text" required>
        <br>

        <a class="remove" href="#">Remove</a>
        <br>
    <br>
</div>







{%endblock%}