{%extends "base.html"%}

{%block content%}

<div class="jumbotron" style="margin-top: 5%;">
    <h3 style="text-align: center;"> This is Quiz Creation Page </h3>
    <p>Welcome, {{ current_user.username }}!</p>
    <br>

    <form id="quiz-form" action="" method="post">
        {{ form.hidden_tag() }}

        <p> {{ form.quizName.label }} {{ form.quizName(size=10) }} </p>
        <p> {{ form.quizDescription.label }} {{ form.quizDescription(size=10) }} </p>
        <br>
        <div id="subforms-container">
            {% for subform in form.question %}
            <div id="quiz-{{ loop.index0 }}-form" class="subform" data-index="{{ loop.index0 }}">
                <p> Question: {{ loop.index0 + 1}} </p>
                {{ subform.quesType}}
                <br>
                {{ subform.quizQuestion.label }}
                {{ subform.quizQuestion(size=30) }}
                <br>
                {{ subform.quizAnswer.label }}
                {{ subform.quizAnswer(size=20)}} 
                <!-- {{ subform.option}} -->
                <br><br>
            </div>
            {% endfor %}
        </div>  
        <a id="add" href="#">Add Question</a>
        {{ form.submit()}}
    </form>
    
    <div id="quiz-_-form" class="is-hidden" data-index="_">
        <p id="quesNo"> Question: </p>
        <select id="question-_-quesType" name="question-_-quesType"><option value="shortAns">Short Answer</option><option value="longAns">Long Answer</option></select>
        <a class="remove" href="#">Remove</a>
        <br>
        <label for="question-_-quizQuestion">Question</label>
        <input id="question-_-quizQuestion" name="question-_-quizQuestion" type="text" value="">
        <br>
        <label for="question-_-quizAnswer">Answer</label>
        <input id="question-_-quizAnswer" name="question-_-quizAnswer" type="text" required>
        <br>
        <br>
    </div>
    {% if form.errors %}
            {{ form.errors }}
        {% endif %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul style="list-style-type:none;">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>

<style>
    .is-hidden {
        display: none;
    }adjustIndices(removedIndex);
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script>
            /**
            * Changes Question type
            **/
            function typeChange() {
                var $form = this.closest('.subform');

                if (this.value == "longAns") {
                    $form.getElementsByTagName('input')[1].remove();
                    $form.getElementsByTagName('label')[1].remove();
                } else if (this.value == "shortAns") {
                    console.log('eval short success')
                    var removedIndex = $form.getAttribute("data-index")
                    $form.remove();
                    adjustIndices(removedIndex);
                    addForm();

                } else {
                    console.log("did not eval")
                }
                
                
            }
            

            /** Code below taken and edited from: https://www.rmedgar.com/blog/dynamic-fields-flask-wtf */
            /**
             * Adjust the indices of form fields when removing items.
             */
            function adjustIndices(removedIndex) {
                var $forms = $('.subform');
                
                $forms.each(function(i) {
                    var $form = $(this);
                    var index = parseInt($form.data('index'));
                    var newIndex = index - 1;

                    if (index < removedIndex) {
                        // Skip
                        return true;
                    }
                    $form.find("p")[0].innerHTML = "Question: " + (newIndex + 1);
                    // Change ID in form itself
                    $form.attr('id', $form.attr('id').replace(index, newIndex));
                    $form.attr('data-index', $form.attr('data-index').replace(index, newIndex));
                    $form.data('index', newIndex);
                    // Change IDs in form inputs
                    $form.find('input').each(function(j) {
                        var $item = $(this);
                        $item.attr('id', $item.attr('id').replace(index, newIndex));
                        $item.attr('name', $item.attr('name').replace(index, newIndex));
                    });
                    //Change labels id and name
                    $form.find('label').each(function(k) {
                        var $item = $(this);
                        $item.attr('for', $item.attr('for').replace(index, newIndex));
                    });
                    //Change select field id and name
                    $form.find('select').each(function(l) {
                    var $item = $(this);
                    $item.attr('id', $item.attr('id').replace(index, newIndex));
                    $item.attr('name', $item.attr('name').replace(index, newIndex));
                    });
                    
                });
                
            }

            /**
             * Remove a form.
             */
            function removeForm() {
                var $removedForm = $(this).closest('.subform');
                var removedIndex = parseInt($removedForm.data('index'));

                console.log(removedIndex)
                $removedForm.remove();

                // Update indices
                adjustIndices(removedIndex);
            }

            /**
             * Add a new form.
             */
            function addForm() {
                var $templateForm = $('#quiz-_-form');

                if (!$templateForm) {
                    console.log('[ERROR] Cannot find template');
                    return;
                }

                // Get Last index
                var $lastForm = $('.subform').last();

                var newIndex = 0;

                if ($lastForm.length > 0) {
                    newIndex = parseInt($lastForm.data('index')) + 1;
                }

                // Maximum of 30 subforms
                if (newIndex > 30) {
                    console.log('[WARNING] Reached maximum number of elements');
                    return;
                }

                // Add elements
                var $newForm = $templateForm.clone();

                $newForm.attr('id', $newForm.attr('id').replace('_', newIndex));
                $newForm.attr('data-index', $newForm.attr('data-index').replace('_', newIndex))
                $newForm.data('index', newIndex);

                $newForm.find("p")[0].innerHTML += newIndex + 1;
                //Change input id and name
                $newForm.find('input').each(function(idx) {
                    var $item = $(this);
                    $item.attr('id', $item.attr('id').replace('_', newIndex));
                    $item.attr('name', $item.attr('name').replace('_', newIndex));
                });
                //Change labels id and name
                $newForm.find('label').each(function(idx) {
                    var $item = $(this);
                    $item.attr('for', $item.attr('for').replace('_', newIndex));
                });
                //Change select field id and name
                $newForm.find('select').each(function(idx) {
                    var $item = $(this);
                    $item.attr('id', $item.attr('id').replace('_', newIndex));
                    $item.attr('name', $item.attr('name').replace('_', newIndex));
                });

                // Append
                $('#subforms-container').append($newForm);
                $newForm.addClass('subform');
                $newForm.removeClass('is-hidden');
                $newForm.find('select')[0].onchange = typeChange;
                $newForm.find('.remove').click(removeForm); 
            }


            $(document).ready(function() {
                $('#add').click(addForm);
                $('.remove').click(removeForm);
                document.getElementsByTagName('select')[0].onchange = typeChange;
                document.getElementById('question-0-quizAnswer').setAttribute("required", "");
            });
            /** Code above taken and edited from: https://www.rmedgar.com/blog/dynamic-fields-flask-wtf */
        </script>

{%endblock%}