{%extends "base.html"%}

{%block content%}
<style>

</style>
<div class="jumbotron" style="text-align: center; margin-top: 5%;">
    <h2>Title : {{quiz.quizName}}</h2>
    <h3>Description: {{quiz.quizDescription}} </h3>
    <p>Good luck, {{ current_user.username }}! </p><br>
    <div style="text-align: left;">
        <br>
        <hr>
        <form action="" method="post">
            {{ form.hidden_tag() }}
        <li>Questions:</li>
            
        <br> {%for ques in range(1, quiz.questions|length + 1)%}
                {{quiz.questions[ques -1]}} <br>
                {{form['ques' + ques|string].label}} <br>
                {{form['ques' + ques|string]}}
                <br>
             {%endfor%}
            {{form.submit}}
        </form>
    </div>




</div>

<script>

</script>
{%endblock%}