{%extends "base.html"%}

{%block content%}

<div class="jumbotron" style="margin-top: 5%;">
    <h1 style="text-align: center;"> This is the Teacher Dashboard </h1>
    <p>Welcome, {{ current_user.username }}!
        <br>
        <br>
        <form action="" method="post">
            <h4> Create Class </h4>
            {{ createClassForm.hidden_tag() }}
            <p>
                {{ createClassForm.className.label }}
                {{ createClassForm.className(size=16) }}<br>

                {% for error in createClassForm.className.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            {{ createClassForm.submit1() }}
        </form>
        <br>
        <br>
        <form action="" method="post">
            <h4> Join Class </h4>
            {{ createClassForm.hidden_tag() }}
            <p>
                {{ joinClassForm.className.label }}
                {{ joinClassForm.className(size=16) }}<br>

                {% for error in joinClassForm.className.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            {{ joinClassForm.submit2() }}
        </form>
        <br>
        <br>
        Classes: <br>
        <ul style="list-style-type:none;">
            {%for c in current_user.classes%}
                <li>{{ c }} <a href="{{ url_for('leaveClass', lClass=c) }}"> Leave </a>
                            <a href="{{ url_for('deleteClass', rmClass=c) }}"> Delete </a>
            {%endfor%}
    </p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul style="list-style-type:none;">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>

{%endblock%}